/* general rules start */
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    color: hsl(178, 100%, 50%);
}

.flex {
    display: flex;
}

.margin-right {
    margin-right: 0.4rem;
}

/* general rules end */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem 1rem;
    background-color: hsl(217, 54%, 11%);
}

.card {
    background-color: hsl(216, 50%, 16%);
    max-width: 300px;
    padding: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 30px 2px 18px hsl(217, 54%, 10%), 0 20px 5px 55px hsl(220, 45%, 11%);        
}

.equilibrium-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.6rem;
}

.img-overlay {
    max-width: 300px;
    min-height: 300px;
    position: relative;
    border-radius: 0.6rem;
}

.img-overlay::after,
.img-overlay::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 0.6rem;
}

.img-overlay:hover::after {
    background: url(../img/icon-view.svg) center center no-repeat;
    opacity: 1;
}

.img-overlay:hover::before {
    background-color: cyan;
    opacity: 0.6;
    transition: 0.5s ease-out;
}

h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin: 1rem 0;
}

h1 a {
    font: inherit;
    color: inherit;
}

.cost-duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2rem 0;
    padding-bottom: 1rem;
    border-bottom: solid 1px hsl(215, 32%, 27%);
}

.clock-icon {
    max-width: 1.1rem;
}

.price {
    font-weight: 600;
    color:hsl(178, 100%, 50%);
    vertical-align: middle;
    line-height: 1.15rem;
}

.time {
    font-weight: 400;
    vertical-align: middle;
    line-height: 1.15rem;
}

.creator {
    margin-bottom: 0.6rem; 
}

.creator-avatar {
    max-width: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: solid 1px hsl(0, 0%, 100%);
}

.creator-name {
    font-size: 0.85rem;
    line-height: 1.8rem;
    vertical-align: middle;
    font-weight: 400;
}

.name-color {
    font-size: 0.85rem;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}
